      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }	
      #myMap {
        height: 100%;
      }
	  #panel {
	    position: absolute;
		top: 5px;
		left: 10%;
        z-index: 1;
      }